# 載入fuction 讀取data

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, KFold
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('character-deaths.csv')

# preprocessing 資料前處理

### 1.選擇 Death Year 為標籤，並將空值轉為0,有數值轉為1

In [3]:
ma=df['Death Year']
ma_na=np.where(np.isnan(ma)==True,0,1)
df['Death Year']=pd.DataFrame(ma_na)
df

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,0,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,1,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,0,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,1,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,0,NaN,NaN,NaN,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,None,0,NaN,NaN,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,None,1,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,None,1,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,1,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,1,4.0,29.0,29.0,1,1,0,0,0,1,0

### 2.其他欄位空值補 0

In [4]:
df =df.fillna(0)

### 3. 將Allegiances 欄位轉為標籤編碼 再進行獨熱編碼(dummy)

In [5]:
labelencoder = LabelEncoder()
sub_df = pd.DataFrame(df['Allegiances'])
print(sub_df.shape)
sub_df.head()
df[['Allegiances']]=labelencoder.fit_transform(sub_df)

(917, 1)

C:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [6]:
df_dummy= pd.get_dummies(df,columns=['Allegiances'])
df_dummy

,Name,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,...,Allegiances_11,Allegiances_12,Allegiances_13,Allegiances_14,Allegiances_15,Allegiances_16,Allegiances_17,Allegiances_18,Allegiances_19,Allegiances_20
0,Addam Marbrand,0,0.0,0.0,56.0,1,1,1,1,1,...,0,1,0,0,0,0,0,0,0,0
1,Aegon Frey (Jinglebell),1,3.0,51.0,49.0,1,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,Aegon Targaryen,0,0.0,0.0,5.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Adrack Humble,1,5.0,20.0,20.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Aemon Costayne,0,0.0,0.0,0.0,1,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,0,0.0,0.0,21.0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
913,Yurkhaz zo Yunzak,1,5.0,59.0,47.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
914,Yezzan Zo Qaggaz,1,5.0,57.0,25.0,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
915,Torwynd the Tame,1,5.0,73.0,73.0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
916,Talbert Serry,1,4.0,29.0,29.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### 4.1 將 'Name'Book of death ''Death Chapter' 欄位刪除，並設為目標值

In [7]:
train_X = df_dummy.drop(df_dummy.columns[[0,1,2,3,4]],axis=1) 
train_X

,Gender,Nobility,GoT,CoK,SoS,FfC,DwD,Allegiances_0,Allegiances_1,Allegiances_2,...,Allegiances_11,Allegiances_12,Allegiances_13,Allegiances_14,Allegiances_15,Allegiances_16,Allegiances_17,Allegiances_18,Allegiances_19,Allegiances_20
0,1,1,1,1,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
913,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
914,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
915,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
916,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### 4.2選定特徵值

In [8]:
train_Y = df[['Death Year']]

### 5.亂數拆成訓練集(75%)與測試集(25%)

In [9]:
x_train, x_test, y_train, y_test = train_test_split(train_X,train_Y ,test_size=0.25, random_state=42)

In [10]:
x_train

,Gender,Nobility,GoT,CoK,SoS,FfC,DwD,Allegiances_0,Allegiances_1,Allegiances_2,...,Allegiances_11,Allegiances_12,Allegiances_13,Allegiances_14,Allegiances_15,Allegiances_16,Allegiances_17,Allegiances_18,Allegiances_19,Allegiances_20
155,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
362,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
868,1,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
101,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
199,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,1,1,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,1,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
860,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
435,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102,1,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
x_test

,Gender,Nobility,GoT,CoK,SoS,FfC,DwD,Allegiances_0,Allegiances_1,Allegiances_2,...,Allegiances_11,Allegiances_12,Allegiances_13,Allegiances_14,Allegiances_15,Allegiances_16,Allegiances_17,Allegiances_18,Allegiances_19,Allegiances_20
668,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
30,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
377,0,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
535,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
806,1,0,0,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
490,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
302,1,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,0,1,1,1,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
891,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y_train

     Death Year
155           0
362           0
868           1
101           0
199           0
..          ...
106           0
270           1
860           0
435           1
102           0

[687 rows x 1 columns]

# 使用scikit-learn的DecisionTreeClassifier進行預測

In [13]:
# 建立模型
clf = DecisionTreeClassifier()

# 訓練模型
classifier = clf.fit(x_train, y_train) 

y_pred = clf.predict(x_test)

# 做出Confusion Matrix，並計算Precision, Recall, Accuracy

### accuracy

In [14]:
from sklearn import datasets, metrics

acc = metrics.accuracy_score(y_test, y_pred)
print("Acuuracy: ", acc)

Acuuracy:  0.7130434782608696

### confusion_matrix

In [15]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[134,  34],
       [ 32,  30]], dtype=int64)

### recall

In [16]:
from sklearn.metrics import recall_score
recall_score(y_test, y_pred, average='macro')

0.6407450076804916

In [17]:
recall_score(y_test, y_pred, average='weighted')

0.7130434782608696

### precision

In [18]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average='macro')

0.6379894578313253

# 產出決策樹的圖

In [19]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=4)
clf = clf.fit(x_train, y_train)
clf

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [20]:
pip install graphviz

Requirement already satisfied: graphviz in c:\users\user\anaconda3\lib\site-packages (0.14.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install pydotplus

Requirement already satisfied: pydotplus in c:\users\user\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\user\anaconda3\lib\site-packages (from pydotplus) (2.4.6)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pydotplus 
import graphviz

In [23]:
import os     
os.environ["PATH"] += os.pathsep + 'C:\Program Files (x86)/graphviz-2.43.20190717.1747/'

In [25]:
graph_tree = tree.export_graphviz(clf, out_file=None)
graph = pydotplus.graph_from_dot_data(graph_tree)
graph.write_pdf('decision_tree.pdf')

True

## 討論

In [ ]:
決策數是很直觀的分類器，透過Confusion Matrix，並計算Precision, Recall, Accuracy來得到準確度，但想得到更好的模型需要從資料處理下手。